p{
    color: rgb(7, 82, 148);
    font-size: medium;
}
.naeem{
    width: 200px;
    height: 200px;
    color: yellowgreen;
    border: 2px solid black ;
    background-color: blueviolet;
}
.waseem{
    width: 150px;
    height: 150px;
    margin: 10px;
    background-color:hotpink ;
}